* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 95vw;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    font-family: 'Laila', sans-serif;
}

.nav-content {
    display: flex;
    justify-content: space-around;
    width: 60%;
    text-align: center;
    align-items: center;
}

.logo{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 28px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 25px;
}

.button-style {
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    animation: animate 20s infinite;
    cursor: pointer;
}

@keyframes animate {
    0% {
        background: linear-gradient(45deg, #4e54c8, #8f94fb);
    }

    20% {
        background: linear-gradient(45deg, #7474bf, #348ac7);
    }

    40% {
        background: linear-gradient(45deg, #24c6dc, #514a9d);
    }

    60% {
        background: linear-gradient(45deg, #4776e6, #8e54e9);
    }

    80% {
        background: linear-gradient(45deg, #2193b0, #6dd5ed);
    }

    100% {
        background: linear-gradient(45deg, #4e54c8, #8f94fb);
    }
}

.underline{
    cursor: pointer;
    border-bottom: 1px solid black ;
    transform: scale(1.03);
    font-weight: bold;
    padding: 5;
}

.normal {
    cursor: pointer;
    padding: 5
}

.normal:hover{
    transform: scale(1.03);
    font-weight: bold;
}

.Create{
    width: 35px;
    height: 35px;
    color: white;
    animation: animate 20s infinite;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 26px;
    cursor: pointer;
}

.profile{
    width: 40px;
    height: 40px;
    animation: animate 20s infinite;
    color: white;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.Card{
    background-color: white;
    position:fixed;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Alkatra', cursive;
}

.login-contents{
    display: flex;
    flex-direction: column;
    flex:1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.loginbutton{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Laila', sans-serif;
    background: linear-gradient(90deg,#7474bf, #348ac7 );
    border-radius: 18px;
    border: none;
    color:white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.errorinput{
    border: 1px solid red;
    border-radius: 5px;
}

.normalinput{
    border: 1px solid black;
    border-radius: 5px;
}